body {
 background-color:#4F4F4F;
}

h1{
 color:#681411;
 font-family: 'Georgia', serif;
}

label{
 color:#FFFFFF
}

input{
 color:#681411
}

.rotulos{
  font-size: 20px; 
}

.btnAgendar{
    border: 2px solid #007bff; /* Espessura: 2px, Estilo: sólido, Cor: azul */
    border-radius: 8px; /* Cantos arredondados */
}
